<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


  <!-- Blurred Background -->
  <div class="bg-image"></div>

  {% include "navbar.html" %}

  <div class="container mt-5">
      {% block content %}{% endblock %}
  </div>

</body>
